<div class="container py-5">
    <!-- For Demo Purpose-->
    <header class="text-center mb-5">
        <h3 class="display-4 font-weight-bold">PokeDex</h3>
        <input class="form-control" id="myInput" (keyup)="filtrar($event)" type="text" placeholder="Search..">
    </header>

    <div class="row pb-5 mb-4" *ngIf="data">
        <div class="col-lg-3 col-md-6 p-2 mb-lg-0" *ngFor="let item of data">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0" (click)="addPokemon(item)">
                <div class="card-body p-4"><img [src]="item.image" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h5>   {{item.name}} </h5>
                    <p class="small text-muted font-italic">{{item.type}}</p>

                </div>
            </div>
        </div>

    </div>
</div>